# server config

# server stuff
server.name = vdl
server.host = 172.16.30.23
server.port = 2010
server.compression = 0
server.compressionLevel = 5
server.receiveThreads = 4
server.maxSocketsPerThread = 16
server.serializeThreads = 4
server.urlThreads = 4
server.printLog = 1
server.webSocket = 1

# cache server var
cacheserver.host = 172.16.30.23
cacheserver.port = 2000
